In [4]:
import pandas as pd

df = pd.read_csv("./globalterrorismdb_0718dist.csv",encoding='ISO-8859-1')

df.rename(columns={'iyear':'year','imonth':'month','iday':'day','country_txt':'countryName','attacktype1_txt':'attackType',\
                   'target1':'target','nkill':'killed','nwound':'wounded','summary':'summary','gname':'group','targtype1_txt':'targetType',\
                   'weaptype1_txt':'weaponType','motive':'motive'},inplace=True)
df=df[['year','month','day','countryName', 'city','latitude','longitude','attackType','killed','wounded','target','summary','group','targetType',\
       'weaponType','motive']]
df.head()

,year,month,day,countryName,city,latitude,longitude,attackType,killed,wounded,target,summary,group,targetType,weaponType,motive
0,1970,7,2,Dominican Republic,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,NaN
1,1970,0,0,Mexico,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,NaN
2,1970,1,0,Philippines,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,NaN
3,1970,1,0,Greece,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,NaN
4,1970,1,0,Japan,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,NaN

In [5]:
df_colombia=df[df["countryName"] == 'Colombia']
df_colombia.head()

,year,month,day,countryName,city,latitude,longitude,attackType,killed,wounded,target,summary,group,targetType,weaponType,motive
405,1970,7,10,Colombia,Manizales,5.059097,-75.505960,Hostage Taking (Kidnapping),NaN,NaN,"Fernand Londono, former cabinet minister",NaN,Unknown,Government (General),Unknown,NaN
1392,1972,7,17,Colombia,Bogota,4.594635,-74.093737,Assassination,1.0,0.0,"First Secretary, Swedish Embassy, Kjeil R. Hac...",NaN,Unknown,Government (Diplomatic),Firearms,NaN
1640,1972,12,0,Colombia,Medellin,6.242026,-75.564766,Hostage Taking (Kidnapping),0.0,0.0,"Jairo Duque Perez and associate, ex dean, law ...",NaN,National Liberation Army of Colombia (ELN),Educational Institution,Unknown,NaN
1690,1973,0,0,Colombia,unknown,NaN,NaN,Hostage Taking (Kidnapping),0.0,0.0,"Alirio Serrano Sanchez, rancher",NaN,National Liberation Army of Colombia (ELN),Business,Unknown,NaN
1697,1973,1,6,Colombia,Ayapel,8.312931,-75.142561,Hostage Taking (Kidnapping),NaN,NaN,"Armando Mora de la Hoz, rancher *",NaN,Popular Liberation Army (EPL),Business,Unknown,NaN

In [6]:
df_colombia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8306 entries, 405 to 181516
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         8306 non-null   int64
 1   month        8306 non-null   int64
 2   day          8306 non-null   int64
 3   countryName  8306 non-null   object
 4   city         8306 non-null   object
 5   latitude     7835 non-null   float64
 6   longitude    7835 non-null   float64
 7   attackType   8306 non-null   object
 8   killed       7848 non-null   float64
 9   wounded      7722 non-null   float64
 10  target       8289 non-null   object
 11  summary      2313 non-null   object
 12  group        8306 non-null   object
 13  targetType   8306 non-null   object
 14  weaponType   8306 non-null   object
 15  motive       1549 non-null   object
dtypes: float64(4), int64(3), object(9)
memory usage: 1.1+ MB

In [7]:
df_select = pd.DataFrame(df_colombia, columns= ['year','month','day', 'attackType'])
df_select.loc[(df_select.day == 0), 'day'] = 1
df_select.loc[(df_select.month == 0), 'month'] = 1
df_select.head()

      year  month  day                   attackType
405   1970      7   10  Hostage Taking (Kidnapping)
1392  1972      7   17                Assassination
1640  1972     12    1  Hostage Taking (Kidnapping)
1690  1973      1    1  Hostage Taking (Kidnapping)
1697  1973      1    6  Hostage Taking (Kidnapping)

In [8]:
df_test = pd.to_datetime(df_select[["year", "month", "day"]])
df_test.head()

405    1970-07-10
1392   1972-07-17
1640   1972-12-01
1690   1973-01-01
1697   1973-01-06
dtype: datetime64[ns]

In [9]:
from datetime import datetime
df_select['date'] = df_select.apply(lambda row: datetime.strptime(f"{int(row.year)}-{int(row.month)}-{int(row.day)}", '%Y-%m-%d'), axis=1)
df_select.head()

      year  month  day                   attackType       date
405   1970      7   10  Hostage Taking (Kidnapping) 1970-07-10
1392  1972      7   17                Assassination 1972-07-17
1640  1972     12    1  Hostage Taking (Kidnapping) 1972-12-01
1690  1973      1    1  Hostage Taking (Kidnapping) 1973-01-01
1697  1973      1    6  Hostage Taking (Kidnapping) 1973-01-06

In [10]:
df_final = pd.DataFrame(df_select, columns= ['date','attackType'])
df_final.tail()

             date                   attackType
181063 2017-12-04                Assassination
181177 2017-12-09            Bombing/Explosion
181376 2017-12-16            Bombing/Explosion
181444 2017-12-20  Hostage Taking (Kidnapping)
181516 2017-12-24                Assassination

In [11]:
df_final.to_csv ('./new_data.csv', index = False, header=True)

FileNotFoundError: [Errno 2] No such file or directory: '../Users/tom/Documents/Proyecto_Visual/data.csv'